<template>
  <header class="s-header">
    <nav class="s-header__links">
      <RouterLink v-for="(item, index) in routes" :key="index" :to="item.path" class="s-header__link">
        {{ item.name }}
      </RouterLink>
    </nav>
  </header>
</template>

<script setup lang="ts">
import { useRouter, RouterLink } from 'vue-router'
const router = useRouter()
const routes = router.options.routes
console.log(routes);

</script>

<style lang="scss" src="./s-header.scss" />