<template>
  <section class="s-about">
    <div class="s-about__container">
      <div class="s-about__title title-h2">
        <h2>Обо мне</h2>
        <p>Личная информация обо мне</p>
      </div>
      <div class="s-about__content">
        <MPopup v-if="isShow" @offShow="isShow = !isShow" />
        <button @click="isShow = !isShow" class="s-about__btn">Показать</button>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import MPopup from '@molecule/m-popup/m-popup.vue';
const isShow = ref(false)

</script>

<style lang="scss" src="./s-about.scss"/>