<template>
  <div class="m-popup">
    <div class="m-popup__shodow" @click="toggleShow" />
    <div class="m-popup__container">
      <div v-if="title" class="m-popup__title">
        {{ title }}
      </div>
      <div class="m-popup__content">
        <slot></slot>
      </div>
      <div class="m-popup__footer">
        <button @click="toggleShow" class="m-popup__close">Закрыть</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {defineProps, defineEmits} from 'vue'

const emit = defineEmits(['offShow'])

const props = defineProps({
  isShow:{
    type: Boolean,
    required: true
  }, 
  title: {
    type: String,
  }
})

const toggleShow = () =>{
  emit('offShow')
}

</script>

<style lang="scss" src="./m-popup.scss" />
