.m-popup{
  position: relative;
  &__shodow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: #0000002e;
    cursor: pointer;
  }
  &__container{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 768px;
    height: 80vmin;
    transform: translate(-50%, -50%);

    background-color: #c1c1c1d8;
    border-radius: 16px;
    padding: 15px;
  }
}