<template>
  <label :for="id" class="m-input">
    <p class="m-input__subtitle">{{ subtitle }}</p>
    <input :id="id" type="text" :disabled="disabled" :placeholder="placeholder" :value="modelValue"
      @input="updateValue">
    <p class="m-input__prefix">{{ prefix }}</p>
  </label>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

const props = defineProps({
  id: {
    type: String,
    required: true
  },
  subtitle: {
    type: String,
    default: ''
  },
  placeholder: {
    type: String,
    default: ''
  },
  prefix: {
    type: String,
    default: ''
  },
  modelValue: {
    type: String,
    required: true
  },
  disabled: {
    type: Boolean,
    default: false
  }
});

const emit = defineEmits(['update:modelValue']);

const updateValue = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emit('update:modelValue', target.value);
};
</script>
