<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <main class="l-default">
    <SAbout />
  </main>
</template>

<script setup lang="ts">
import SAbout from '@section/s-about/s-about.vue';
</script>
