
<template>
  <SHeader />
  <!-- <header>
    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />

    <div class="wrapper">

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div>
  </header> -->

  <RouterView />
</template>

<script setup lang="ts">
import SHeader from '@section/s-header/s-header.vue';
import { RouterLink, RouterView } from 'vue-router'
</script>
